* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    text-align: center;
    background: #86A789;
    background-image: url("https://www.transparenttextures.com/patterns/brick-wall.png");
    font-family: "Ubuntu", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    font-style: normal;
}

p {
    color: #8f8f8f;
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: normal;
}

/* .ubuntu-light {
    font-family: "Ubuntu", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .ubuntu-light-italic {
    font-family: "Ubuntu", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .ubuntu-regular {
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .ubuntu-regular-italic {
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .ubuntu-medium {
    font-family: "Ubuntu", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .ubuntu-medium-italic {
    font-family: "Ubuntu", sans-serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .ubuntu-bold {
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .ubuntu-bold-italic {
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    font-style: italic;
  } */




/* common css */

.colored-section {
    background-color: #4F6F52;
}

.white-section {
    background-color: #ffffff;
}

.container {
    padding: 20px 10px;
}


/* header section start */
.header-left {
    text-align: left;
}

.header-left img {
    width: 100px;
}

.header-left .title-midle {
    height: 100%;
}

.header-left .logo-title,
.logo-address {
    margin-left: 20px;
}

@media (max-width:1250px) {

    .header-left .logo-title,
    .logo-address {
        margin-left: 40px;
    }
}

@media (max-width:1000px) {

    .header-left .logo-title,
    .logo-address {
        margin-left: 20px;
    }

    .header-right {
        display: flex;
        justify-content: center;
    }
}

.header-left .logo-title {
    font-size: 32px;
    color: #fff;
}

.header-left .logo-address {
    color: #fff;
    font-size: 20px;
}

.header-right {
    text-align: right;
}

.header-right .header-img img {
    height: 100px;
    margin-left: 10px;
}

.title-midle {
    position: relative;
}

.title-item {
    position: absolute;
    top: 10px;
}


/* header section end */


/* navbar start */
#nav-bar {
    background-color: #86A789;
}

#nav-bar .container {
    padding: 0px 10px;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    color: #fff;
    font-weight: 400;
}


/* navbar end */



/* news start */
.news-heading {
    background-color: #D2E3C8;
    color: #76453B;
}

.news-heading .container {
    padding: 0;
    /* margin: 0; */
}

.news-heading span {
    /* margin-top: 2px; */
    display: grid;
    align-items: center;
}

.news-title {
    /* background-color: #EAD196; */
    color: #fff;
    /* width: 160px; */
}

.animate-charcter {
    text-transform: uppercase;
    background-image: linear-gradient(-225deg,
            #231557 0%,
            #44107a 29%,
            #ff1361 67%,
            #fff800 100%);
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    /* text-fill-color: transparent; */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 2s linear infinite;
    display: inline-block;
    font-size: 20px;
}

@keyframes textclip {
    to {
        background-position: 200% center;
    }
}

#scroll-container {
    /* border: 3px solid black; */
    /* border-radius: 5px; */
    overflow: hidden;
}

#scroll-container span {
    margin-top: 3px;
}

#scroll-text a {
    text-decoration: none;
    color: #131212;
}

#scroll-text {
    /* animation properties */
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);

    -moz-animation: my-animation 10s linear infinite;
    -webkit-animation: my-animation 10s linear infinite;
    animation: my-animation 25s linear infinite;
}

/* for Firefox */
@-moz-keyframes my-animation {
    from {
        -moz-transform: translateX(100%);
    }

    to {
        -moz-transform: translateX(-100%);
    }
}

/* for Chrome */
@-webkit-keyframes my-animation {
    from {
        -webkit-transform: translateX(100%);
    }

    to {
        -webkit-transform: translateX(-100%);
    }
}

@keyframes my-animation {
    from {
        -moz-transform: translateX(100%);
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
    }

    to {
        -moz-transform: translateX(-100%);
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }
}

/* news end */

/* notice board start */
#banner .container {
    margin: 0 auto;
    padding: 25px 0;
}

.photo-carousal {
    /* margin-left: -10px; */
    background-color: #8271955b;
}

.photo-carousal img {
    width: 900px;
    height: 500px;
}

.carousel-indicators .button {
    background-color: #fff;
    /* Green */
    border: 3px solid #115615;
    /* color: white; */
    padding: 5px 3px;
}

.carousel-indicators .active {
    background: #4F6F52;
}



/*notice */
#notice {
    background-color: #86A789;
    height: 100%;
}

#notice .container {
    margin: 0px;
    padding: 0px;
    height: 100%;
}

.notice-heading h4 {
    font-family: "Ubuntu", sans-serif;
    font-weight: 500;
    font-style: normal;
    color: #000;
}

.notice-heading {
    text-align: left;
    padding: 15px;
    padding-top: 25px;
    background-color: #ada8be;
    margin-bottom: 10px;
}

.notice-main {
    margin: 10px 20px;
}

.notice-main a {
    text-decoration: none;
}

.notice-content {
    background-color: #ffffff;
    margin-bottom: 15px;
}

.notice-content .heading {
    color: #00000054;
    text-align: left;
    padding: 5px 10px 0px;
    font-size: 15px;
    font-family: "Ubuntu";
    font-weight: 300;
    font-style: normal;
}

.notice-content {
    border: 2px solid #43766c00;
}

.notice-content:hover {
    border: 2px solid #43766C;
}

.notice-content .title {
    padding: 0px 10px 0px;
    text-align: left;
    font-family: "Ubuntu", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.notice-content .title p {
    color: #000;
}

.notices {
    position: relative;
    height: 100%;
}

.notice-more {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 10px 20px;
}

.notice-more span {
    color: #115615;
}

.notice-more a {
    text-decoration: none;
}

/* notice board end */

/* head teacher start */

.head-teacher .colored-section {
    height: 200px;
}

.head-teacher .container {
    padding: 0px;
}

.teacher-extra .teacher-content {
    margin-top: -100px;
    padding-bottom: 100px;
}

.teacher-content .teacher-left {
    background-color: #fff;
    box-shadow: -1px 0px 5px 3px rgba(0, 0, 0, 0.237);
    -webkit-box-shadow: -1px 0px 5px 3px rgba(0, 0, 0, 0.237);
    -moz-box-shadow: -1px 0px 5px 3px rgba(0, 0, 0, 0.237);
}

.teacher-content .teacher-right-link {
    height: 350px;
    padding: 0;
    background-color: #fff;
    box-shadow: -1px 0px 5px 3px rgba(0, 0, 0, 0.237);
    -webkit-box-shadow: -1px 0px 5px 3px rgba(0, 0, 0, 0.237);
    -moz-box-shadow: -1px 0px 5px 3px rgba(0, 0, 0, 0.237);
}


.tll-image {
    padding: 40px;
}

.tll-image img {
    border-radius: 20px;
    width: 200px;
}

.tll-list {
    text-align: center;
}

.tll-list ul {
    list-style: none;

}

.tll-list ul li {
    display: inline;
    margin-right: 10px;
    font-size: 20px;
    padding: 10px;
    border-radius: 5px;
    color: #fff;
    background-color: #115615;
}


.teacher-content .teacher-left .tlr {
    text-align: left;
    padding: 10px;
}

.teacher-content .teacher-left .tlr h5 {
    padding-top: 30px;
    font-family: "Ubuntu", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.teacher-content .teacher-left .tlr hr {
    width: 100px;
    margin-top: -5px;
    color: #115615;
    border: 2px solid #115615;
}

.teacher-content .teacher-left .tlr p {
    color: #000;
    font-size: 18px;
    padding-right: 10px;
}

.teacher-content .teacher-left .tlr button {
    margin-left: 450px;
    margin-bottom: 10px;
    padding: 5px 10px;
    border-radius: 5px;
    color: #fff;
    background-color: #4F6F52;
}

/* link css right */
.teacher-right-link .link-title {
    height: 50px;
    background-color: #86A789;
    text-align: left;
    padding: 5px;
}

.teacher-right-link .link-title .link-icon {
    padding: 10px 9px;
    background-color: #115615;
    color: #fff;
    border-radius: 50%;
    margin-right: 10px;
    margin-left: 20px;
}

.teacher-right-link .link-title .link-content {
    font-size: 22px;
    color: #fff;
    font-family: "Ubuntu", sans-serif;
    font-weight: 500;
    font-style: normal;
    text-align: justify;
}

.link-main {
    text-align: left;
}

.link-main ul {
    position: relative;
    background: #fff;
}

.link-main ul:hover li {
    opacity: 0.3;
}

.link-main ul li {
    margin: 10px;
    margin-left: -15px;
    list-style: none;
    padding: 10px;
    width: 100%;
    background: #fff;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.1);
    transition: transform 0.5s;
}

.link-main ul li:hover {
    transform: scale(1.1);
    z-index: 5;
    background: #D2E3C8;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
    color: #4F6F52;
    opacity: 1;
}

.link-main ul li span {
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    background: #115615;
    color: #fff;
    display: inline-block;
    border-radius: 50%;
    margin-right: 10px;
    font-size: 12px;
    font-weight: 600;
    transform: translateY(-2px);
}

.link-main ul li:hover span {
    background: #fff;
    color: #4F6F52;
}

.imp-button {
    padding: 5px 10px;
    margin-top: 10px;
    background-color: #739072;
    color: #fff;
    border-radius: 5px;
}


/* head teacher end */

/* school info start */
/* 86A789 */
.school-color {
    background-color: #D2E3C8 !important;
}

.school-info {
    margin-top: 50px;
    margin-bottom: 100px;
}

.school-heading {
    height: 100px;
    margin-bottom: 30px;
    text-align: center;
}

.school-heading h3 {
    font-size: 24px;
    color: #115615;
}

.school-heading p {
    font-family: "Ubuntu", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.school-left .histo-heading h3 {
    font-size: 30px;
    text-align: left;
}

.school-left .histo-content p {
    font-size: 20px;
    text-align: left;
    color: #000000b7;
    text-align: justify;
}

.school-left .histo-content {
    text-align: left;
}

.school-left .histo-content button {
    padding: 5px 15px;
    margin-top: 10px;
    background-color: #739072;
    color: #fff;
    border-radius: 5px;
}

.school-right {
    height: 400px;
}

.school-right img {
    width: 300px;
}

/* school info end */

/* mujib corner start */

.mujib {
    padding: 50px 0;
}

.mujib img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

.mujib .mujib-text {
    text-align: center;
}

.stylebutton button {
    padding: 10px 30px;
    margin-top: 10px;
    font-size: 22px;
    border-radius: 10px;
    background-color: #4F6F52;
    color: #fff;
}


/* mujib corner end */

/* extra info start */
.extra-info {
    background-color: #D2E3C8;
}

/* extra info end */


/* institute information start */
.institute-head {
    text-align: center;
    padding: 20px 0;

}

.institute-head h2 {
    color: #fff;
}

/* institute information end */

.temporary {
    margin: 20px 0;
}

.temporary2 img {
    width: 200px;
}

.temporary3 img {
    width: 150px;
}

.portal {
    background-color: #86A789;
    height: 300px;
}

.portal-heading {
    text-align: center;
    color: #fff;
    padding-top: 50px;
    padding-bottom: 10px;
}

.portal-login {
    color: #fff;
    font-size: 30px;
    text-align: center;
}

.portal-login button {
    padding: 5px 20px;
    border-radius: 10px;
}

.end-section {
    height: 150px;
    margin-bottom: -150px;
}


/* footer start */

/* school addresse */

.address-temp {
    margin-bottom: 10px;
    position: relative;
}

.address-temp .address-up {
    position: absolute;
    height: 200px;
    /* background-color: #EAD196; */
    top: -100px;
}

.address-extra {
    height: 200px;
    background-color: #fff;
    width: 80%;
    margin: 0 auto;
    border-radius: 20px;
    text-align: center;
    box-shadow: -2px -3px 5px 0px rgba(13, 13, 13, 0.75);
    -webkit-box-shadow: -2px -3px 5px 0px rgba(13, 13, 13, 0.75);
    -moz-box-shadow: -2px -3px 5px 0px rgba(13, 13, 13, 0.75);
}

.address-extra .ad-tex {
    margin-top: 25px;
}

.address-extra .adex {
    /* margin: 0 auto; */
    height: 150px;
    border-left: 2px solid #739072;
    border-right: 2px solid #739072;
}

.adr-extra {
    margin-top: 40px;
}

.adr-extra .adr-icon {
    margin-right: 10px;
    margin-bottom: 5px;
    color: #4F6F52;
}

.sp-text {
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.addr-content {
    margin-top: 130px;
    height: 300px;
    /* background-color: #44107a; */
}

.addr-content .footer-logo {
    /* background-color: #131212; */
    /* height: 310px; */
    width: 100%;
    display: flex;
    align-items: center;

    margin-left: 150px;
}

.addr-content .footer-logo img {
    width: 180px;
}

.address-main {
    height: 310px;
}

.footer-middle {
    color: #fff;
    margin-top: 20px;
    text-align: left;
}

.footer-middle li {
    padding: 2px;
    list-style-type: none;
}

.footer-middle .icon li {
    display: inline;
    margin-left: 10px;
}

.footer-form textarea {
    border-radius: 10px;
    width: 100%;
}

.footer-form button {
    display: flex;
    background-color: #76453B;
    border: 0px;
}

.user-form input {
    margin: 10px 0;
}


.footer-section {
    margin-top: 150px;
    background-color: #4F6F52;
}

.footer-section a {
    color: #131212;
    text-decoration: none;
}

/* footer end */


